body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(227, 243, 226) , white);  
}
.odin{
    height: 100px;
    display: flex;
    justify-content: center;
}
.caption{
    font-size: 75px;
    color: rgb(53, 14, 230);
    align-self: center;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
.caption:hover{
    color: red;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content:space-evenly;
    width: 75%;
    height: 80vh;
    float: left;
    
 }
.list .items{
    width: max-content;
 }
.lasagna, .omlette,.shepherdspie{
    color: rgb(53, 14, 230);
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    }
.lasagna:hover ,.omlette:hover , .shepherdspie:hover { 
    position: relative;
    color: red;
    }
.lasagna:hover::after{
    content: url(../odin-recipes/img/lasagna.jpeg);
    position: absolute;
    left: 0px;
    top: 50px;
 }
.omlette:hover::after{
    content: url(../odin-recipes/img/omelette.jpeg );
    position: absolute;
    right: 0px;
    top: 50px;
}
.shepherdspie:hover::after{
    content: url(../odin-recipes/img/shepspie.jpeg);
    position: absolute;
    right: 0px;
    top: 50px;
   }
   .img{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        height: 90vh;
        float: right;
   }
   .img .bckgrnd{
    height: 100%;
    width: 100%;
    }
    
    @media screen and (max-width: 600px) {
        .img{
            display: none;
        }
        .list{
            width: 100%;
        }
       
    }
    